[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
router = "J6YB6HFjFecHKRvgfWwqa6sAr2DhR2k7ArvAd6NG7mBo"

[programs.testnet]
router = "J6YB6HFjFecHKRvgfWwqa6sAr2DhR2k7ArvAd6NG7mBo"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
